@font-face {
  font-family: ikarashi;
  src: url(tactile.ttf) format('truetype');
}

body {
	padding: 0; margin: 0;
	-webkit-print-color-adjust: exact;
}
input[type=button] {
	display: none;  /* ラジオボタンを非表示にする */
}
input[type=radio] {
	display: none; /* <LABEL>で枠全体に機能を持たせるためボタンを非表示 */
}
/*地図部分の設定*/
#map {
	background-color: #ffffff;
}
/*ダウンロード系の非表示*/
#svg_export{
	display: none;
}
/*目盛り用のcss-grid-container*/
#grid-container{
	display:grid;
	grid-template-columns:5mm 1fr 5mm;
	grid-template-rows:5mm 1fr 5mm;
	grid-template-areas:
		"topleft     toparea      topright"
		"centerleft  map          centerright"
		"bottomleft  bottomarea   bottomright";
}

#topleft{
	grid-area: topleft;
}

#top{
	grid-area: toparea;
	background:
			repeating-linear-gradient(to right, black 0mm, black 1mm, transparent 1mm, transparent) ;
	background-size: calc(100%/3) 100% ;
	border-right: 1mm solid #000000;
}

#topright{
	grid-area: topright;
}

#left{
	grid-area: centerleft;
	background:
			repeating-linear-gradient(to top, black 0mm, black 1mm, transparent 1mm, transparent) ;
	background-size: 100% calc(100%/2) ;
	border-top: 1mm solid #000000;
}

#map{
	grid-area: map;
	border:"";
}

#right{
	grid-area: centerright;
	background:
			repeating-linear-gradient(to bottom, black 0mm, black 1mm, transparent 1mm, transparent) ;
	background-size: 100% calc(100%/2) ;
	border-bottom: 1mm solid #000000;
}

#bottomleft{
	grid-area: bottomleft;
}

#bottom{
	grid-area: bottomarea;
	background:
			repeating-linear-gradient(to left, black 0mm, black 1mm, transparent 1mm, transparent) ;
	background-size: calc(100%/3) 100% ;
	border-left: 1mm solid #000000;
}

#bottomright{
	grid-area: bottomright;
}